table, img, tr,td {
    border:10px solid pink; border-collapse:collapse; height:200px; width:100px;
}
table, img{width:1000px;height:1000px; margin:50px; padding:0px;} 
table{margin-left:200px; margin-right: 50px; padding:0px;}
h1{text-align: left; font-size: 50px; }
p{text-align: center; font-size: 20px; color: red;}